body{
    height: 100%;
    background-color: #FFFFFF;
}

#boton{
    background: #6923FF;
    color: #FFFFFF;
    display:inline-block;
    font-size: 1.25em;
    margin-left: 1200px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    border-radius: 50px;
    
} 

