#jhon1{
    margin-top: 5vh;
    margin-left: 5vh;
}

#clase1{
    color: blue;
    font-size: 6vh;
    padding-left: 17vh;
    padding-top: 4vh;
}

#jhon2{
    margin-top: 3vh;
    margin-left: 16vh;
    font-size: 3vh;
}

#jhon3{
    padding-left: 3vh;
    
}

#clase2{
    color: rgb(255, 14, 14);
    font-size: 6vh;
    padding-left: 17vh;
    padding-top: 4vh;
}

#segundo1{
    margin-top: 3vh;
    margin-left: 16vh;
    font-size: 3vh;
}

#segundo2{
    padding-left: 3vh;
    
}